
/* -------------------------------------- 
            BUTTONS STYLES
----------------------------------------*/  

.btnSolid {
    color:#fff;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;

    & i {
        margin-right: 5px; 
    }

    &:hover {
        text-decoration: none;
        color:#fff;
    }  
}

.btnBorder {
    background: transparent;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;

    & i {
        margin-right: 5px; 
    }
}

.btn-solidAccent {
    @extend .btnSolid;
    background: $accentColor;  
    border : 2px $accentColor solid; 
}

.btn-solidPrimary {
    @extend .btnSolid;
    background: $pColor;  
    border : 2px $pColor solid; 
}

.btn-borderPrimary {
    @extend .btnBorder;
    color:$pColor;
    border : 2px $pColor solid; 
    @include transition(0.3s);

    &:hover {
        background: $pColor;

        color: #fff;
        text-decoration: none;
    }
}

.btn-borderPrimaryReverse {
    @extend .btnBorder;
    color:#fff;
    border : 2px #fff solid; 
    @include transition(0.3s);
    
    &:hover {
        background: #fff;

        color: $pColor;
        text-decoration: none;
    }
}

.btn-borderAccentReverse {
    @extend .btnBorder;
    color:#fff;
    border : 2px #fff solid;
    @include transition(0.3s); 
    
    &:hover {
        background: #fff;

        color: $accentColor;
        text-decoration: none;
    }
}

.btn-borderAccent {
    @extend .btnBorder;
    color:$accentColor;
    border : 2px $accentColor solid; 
    @include transition(0.3s);

    &:hover {
        background: $accentColor;
        color: #fff;
        text-decoration: none;
    }
}




/* -------------------------------------- 
            END BUTTONS STYLES
----------------------------------------*/