/****************************************
              LOGIN STYLES

****************************************/

$pColor: #b01820;

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/bg.jpg) 50%;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#toggleLogin {
    text-decoration: none;
    font-weight: bold;
    @include transition(0.3s);


    span {
        color:$pColor;
    }
}

.login-panel {
    background: rgba(253, 253, 253, 0.67);
    height: 90vh;
    margin-top: 5vh;
    overflow-y: scroll;
    @include simpleBoxShadow();
}

.register-panel {
    background: rgba(253, 253, 253, 0.67);
    height: 90vh;
    margin-top: 5vh;
    overflow-y: scroll;
    @include simpleBoxShadow();
}

.panel-head {
    padding: 10px 15px;

    h1{
        margin-bottom: 30px; 

        img {
            width: 44%;
        }
    }

    p {
        color: #777;

        span {
            color:#111;
        }
    }
}

.panel-body{
    padding: 20px 12%;

    label {
        color:#222;
        font-weight: 400;
    }

    input {
        border-radius: 0; 
        background: transparent;
    }

    select {
        background: transparent;
    }

    button {
        border :2px solid $pColor;
        color:$pColor;
        background: transparent;
        font-weight: 700;
        border-radius: 0; 
        @include transition(0.3s);

        &:hover {
            border :2px solid $pColor;
            background: $pColor;
            color:#fff;
        }        
    }
}

.panel-foot {

    margin-top: 30px;

    h4{
        font-size: 1em;

        a {
            text-decoration: none;
            color:$pColor;
            font-weight: bold;
            @include transition(0.3s);

            &:hover {
                
            }
        }
    }
}


.register-panel::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: transparent;
}

.register-panel::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.register-panel::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top, #d26c71 0%, #b2262c 50%, #b2262c 51%, #4a1618 100%);
}

//****************************************************************************************************//


.login-panel::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: transparent;
}

.login-panel::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.login-panel::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top, #d26c71 0%, #b2262c 50%, #b2262c 51%, #4a1618 100%);
}

.side {
    position: relative;
    z-index: 999;
    height: 100vh;
    background: rgba(255, 255, 255, 0.89);

    .side-header {

        img {
            width: 40%;
        }
    }

    .side-body {
        padding: 20px 40px;
    }

    .contact-form {
        margin-top: 40px;



        h3 {
            color:$pColor;
            text-align: center;
        }

        input, textarea {
            border-radius: 0; 
            background: transparent;
        }

        

        button {
            border :2px solid $pColor;
            color:$pColor;
            background: transparent;
            font-weight: 700;
            border-radius: 0; 
            @include transition(0.3s);

            &:hover {
                border :2px solid $pColor;
                background: $pColor;
                color:#fff;
            }        
        }
    }
}

@media screen and (max-width: 992px) {
  .login-panel {
    height: 100vh;
    margin-top: 0;
}

.register-panel {
    height: 100vh;
    margin-top: 0;
    }
}