@mixin simpleBoxShadow() {
    -webkit-box-shadow: 0px 1px 29px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 29px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 29px -2px rgba(0,0,0,0.75);
}

@mixin simplerBoxShadow() {
-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
}

@mixin transition($x) {
    -webkit-transition: all $x linear;
    -moz-transition: all $x linear;
    -ms-transition: all $x linear;
    -o-transition: all $x linear;
    transition: all $x linear;
}