/****************************************
                IMPORTS

****************************************/
$pColor: #b01820;
$sColor: #505050;
$accentColor: #fff;


@import 'mixins.scss';
@import 'buttons.scss';



body * {
    font-family: 'Montserrat', sans-serif;
   
}

section {
    margin: 50px 0;

}


.top-bar {
    width: 100%;
    overflow: hidden;
    background: $pColor;

    p {
        padding: 10px 16px;
        margin: 0;
        font-size: 0.9em;
        color: white;
    } 
}

.section-header {
    margin: 40px; 
    .line {
        width: 7%; 
        height: 4px;
        background: $pColor;
        margin: 30px auto 0;
    }
}

.section-header-light {
    margin: 40px; 
    text-shadow: 1px 1px 1px #000;
    h1 {
        color:white;
    }
    .line {
        width: 7%; 
        height: 4px;
        background: $pColor;
        margin: 30px auto 0;
    }
}

.cover {
    width: 100%;
    height: 220px;
    background: url('../img/cover.jpg') 100% 50%;
    background-size: cover;

    h1 {
        font-size: 3em;
        color:#fff;
        margin-top: 90px;
    }
}

.navbar {
    background: #fff;
    border-radius: none;
    margin: 0;
    border: none;

    .navbar-brand {
        padding: 5px;

        img{
            width: 154px;
        }
    }

    .navbar-nav li a {
        font-weight: bold;
        @include transition(0.3s);

        &:hover {
            background: $pColor;
            color: #fff;
        }
    }

    .navbar-nav li.active a {
        background: $pColor;
        color: #fff;

        &:hover {
            background: $pColor;
            color: #fff;
        }
    }

    .navbar-nav li.special a {
        background: $sColor;
        color: #fff;

        &:hover {
            background: $pColor;
        }
    }

    .navbar-nav li.account:hover a {
        &:hover {
            background: white;
            color:#555;
        }
    }

}


.navbar-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999; 
}



.point-fort {
    
    .pf {
        padding: 40px;
        color: white;
        margin: 18px 10px;
        @include transition(0.3s);

        &:hover, &.active {
            background: $pColor;
            -webkit-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75);
            h2 {
                color:white;
            }

            h3 {
                color:#fff;
            }

            .line {
                background: white; 
            }

            p {
                color:#fff;
            }
        }
         
         img {
             width: 30%;
         }



        h2 {
            font-size: 5em;
            color: #505050;
        }

        h3 {
            color:#000;
            color:$pColor;
        }
         
        p {
            color:#444;
            margin-bottom: 25px;
        }

         .line {
             display: inline-block;
             width: 40px;
             height: 3px;
             background:$pColor;
             margin-bottom: 15px;
         }

         
    }
}




.about {
    background: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.18)), url(../img/about.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;


    .about-us {
        padding: 30px 30px;
        
        
        .about-us-inner {
            padding: 30px 60px;
            border: 4px solid $pColor;
            background: rgba(255, 255, 255, 0.81);
        }

        p {
            color:#444; 
            font-size: 1em;     
            line-height: 170%;
        }
    }

     

    .service {
        padding: 30px;
        background: rgba(255, 255, 255, 0.81);
        margin: 20px 0; 
        @include transition(0.3s);

        &:hover {
            background: rgba(176, 24, 32, 0.85);

            span.icon {
                color:#fff;
            }

            h4{
                color:white;
            }
        }

       
        span.icon {
            font-size:1.5em;
        }
        h4 {
            color:#000;
            font-weight: bold; 
        }

       
    }
}

footer {
    margin: 0;
    background: #111;
    color:white;
    padding: 10px;
    height: 40px;
}



.newsletter {
    display: inline-block;
    width: 100%;
    padding: 10px; 
    margin: 30px 0;
}

.submitNewsletter {
    padding: 11px 20px;
    margin: 30px 0;
    background: $pColor;
    color:white;
    border:none;
    @include transition(0.3s); 

    &:hover {
        background: #960e15;
    }
}