/****************************************
                IMPORTS

****************************************/
/****************************************
              LOGIN STYLES

****************************************/
body {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/bg.jpg) 50%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%; }

#toggleLogin {
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  #toggleLogin span {
    color: #b01820; }

.login-panel {
  background: rgba(253, 253, 253, 0.67);
  height: 90vh;
  margin-top: 5vh;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 1px 29px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 29px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 29px -2px rgba(0, 0, 0, 0.75); }

.register-panel {
  background: rgba(253, 253, 253, 0.67);
  height: 90vh;
  margin-top: 5vh;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 1px 29px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 29px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 29px -2px rgba(0, 0, 0, 0.75); }

.panel-head {
  padding: 10px 15px; }
  .panel-head h1 {
    margin-bottom: 30px; }
    .panel-head h1 img {
      width: 44%; }
  .panel-head p {
    color: #777; }
    .panel-head p span {
      color: #111; }

.panel-body {
  padding: 20px 12%; }
  .panel-body label {
    color: #222;
    font-weight: 400; }
  .panel-body input {
    border-radius: 0;
    background: transparent; }
  .panel-body select {
    background: transparent; }
  .panel-body button {
    border: 2px solid #b01820;
    color: #b01820;
    background: transparent;
    font-weight: 700;
    border-radius: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .panel-body button:hover {
      border: 2px solid #b01820;
      background: #b01820;
      color: #fff; }

.panel-foot {
  margin-top: 30px; }
  .panel-foot h4 {
    font-size: 1em; }
    .panel-foot h4 a {
      text-decoration: none;
      color: #b01820;
      font-weight: bold;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }

.register-panel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent; }

.register-panel::-webkit-scrollbar {
  width: 10px;
  background-color: transparent; }

.register-panel::-webkit-scrollbar-thumb {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top, #d26c71 0%, #b2262c 50%, #b2262c 51%, #4a1618 100%); }

.login-panel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent; }

.login-panel::-webkit-scrollbar {
  width: 10px;
  background-color: transparent; }

.login-panel::-webkit-scrollbar-thumb {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top, #d26c71 0%, #b2262c 50%, #b2262c 51%, #4a1618 100%); }

.side {
  position: relative;
  z-index: 999;
  height: 100vh;
  background: rgba(255, 255, 255, 0.89); }
  .side .side-header img {
    width: 40%; }
  .side .side-body {
    padding: 20px 40px; }
  .side .contact-form {
    margin-top: 40px; }
    .side .contact-form h3 {
      color: #b01820;
      text-align: center; }
    .side .contact-form input, .side .contact-form textarea {
      border-radius: 0;
      background: transparent; }
    .side .contact-form button {
      border: 2px solid #b01820;
      color: #b01820;
      background: transparent;
      font-weight: 700;
      border-radius: 0;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .side .contact-form button:hover {
        border: 2px solid #b01820;
        background: #b01820;
        color: #fff; }

@media screen and (max-width: 992px) {
  .login-panel {
    height: 100vh;
    margin-top: 0; }

  .register-panel {
    height: 100vh;
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
