/****************************************
                IMPORTS

****************************************/
/* -------------------------------------- 
            BUTTONS STYLES
----------------------------------------*/
.btnSolid, .btn-solidAccent, .btn-solidPrimary {
  color: #fff;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block; }
  .btnSolid i, .btn-solidAccent i, .btn-solidPrimary i {
    margin-right: 5px; }
  .btnSolid:hover, .btn-solidAccent:hover, .btn-solidPrimary:hover {
    text-decoration: none;
    color: #fff; }

.btnBorder, .btn-borderPrimary, .btn-borderPrimaryReverse, .btn-borderAccentReverse, .btn-borderAccent {
  background: transparent;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block; }
  .btnBorder i, .btn-borderPrimary i, .btn-borderPrimaryReverse i, .btn-borderAccentReverse i, .btn-borderAccent i {
    margin-right: 5px; }

.btn-solidAccent {
  background: #fff;
  border: 2px #fff solid; }

.btn-solidPrimary {
  background: #b01820;
  border: 2px #b01820 solid; }

.btn-borderPrimary {
  color: #b01820;
  border: 2px #b01820 solid;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .btn-borderPrimary:hover {
    background: #b01820;
    color: #fff;
    text-decoration: none; }

.btn-borderPrimaryReverse {
  color: #fff;
  border: 2px #fff solid;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .btn-borderPrimaryReverse:hover {
    background: #fff;
    color: #b01820;
    text-decoration: none; }

.btn-borderAccentReverse {
  color: #fff;
  border: 2px #fff solid;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .btn-borderAccentReverse:hover {
    background: #fff;
    color: #fff;
    text-decoration: none; }

.btn-borderAccent {
  color: #fff;
  border: 2px #fff solid;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .btn-borderAccent:hover {
    background: #fff;
    color: #fff;
    text-decoration: none; }

/* -------------------------------------- 
            END BUTTONS STYLES
----------------------------------------*/
body * {
  font-family: 'Montserrat', sans-serif; }

section {
  margin: 50px 0; }

.top-bar {
  width: 100%;
  overflow: hidden;
  background: #b01820; }
  .top-bar p {
    padding: 10px 16px;
    margin: 0;
    font-size: 0.9em;
    color: white; }

.section-header {
  margin: 40px; }
  .section-header .line {
    width: 7%;
    height: 4px;
    background: #b01820;
    margin: 30px auto 0; }

.section-header-light {
  margin: 40px;
  text-shadow: 1px 1px 1px #000; }
  .section-header-light h1 {
    color: white; }
  .section-header-light .line {
    width: 7%;
    height: 4px;
    background: #b01820;
    margin: 30px auto 0; }

.cover {
  width: 100%;
  height: 220px;
  background: url("../img/cover.jpg") 100% 50%;
  background-size: cover; }
  .cover h1 {
    font-size: 3em;
    color: #fff;
    margin-top: 90px; }

.navbar {
  background: #fff;
  border-radius: none;
  margin: 0;
  border: none; }
  .navbar .navbar-brand {
    padding: 5px; }
    .navbar .navbar-brand img {
      width: 154px; }
  .navbar .navbar-nav li a {
    font-weight: bold;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .navbar .navbar-nav li a:hover {
      background: #b01820;
      color: #fff; }
  .navbar .navbar-nav li.active a {
    background: #b01820;
    color: #fff; }
    .navbar .navbar-nav li.active a:hover {
      background: #b01820;
      color: #fff; }
  .navbar .navbar-nav li.special a {
    background: #505050;
    color: #fff; }
    .navbar .navbar-nav li.special a:hover {
      background: #b01820; }
  .navbar .navbar-nav li.account:hover a:hover {
    background: white;
    color: #555; }

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999; }

.point-fort .pf {
  padding: 40px;
  color: white;
  margin: 18px 10px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .point-fort .pf:hover, .point-fort .pf.active {
    background: #b01820;
    -webkit-box-shadow: 0px 3px 13px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 13px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 13px -1px rgba(0, 0, 0, 0.75); }
    .point-fort .pf:hover h2, .point-fort .pf.active h2 {
      color: white; }
    .point-fort .pf:hover h3, .point-fort .pf.active h3 {
      color: #fff; }
    .point-fort .pf:hover .line, .point-fort .pf.active .line {
      background: white; }
    .point-fort .pf:hover p, .point-fort .pf.active p {
      color: #fff; }
  .point-fort .pf img {
    width: 30%; }
  .point-fort .pf h2 {
    font-size: 5em;
    color: #505050; }
  .point-fort .pf h3 {
    color: #000;
    color: #b01820; }
  .point-fort .pf p {
    color: #444;
    margin-bottom: 25px; }
  .point-fort .pf .line {
    display: inline-block;
    width: 40px;
    height: 3px;
    background: #b01820;
    margin-bottom: 15px; }

.about {
  background: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.18)), url(../img/about.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden; }
  .about .about-us {
    padding: 30px 30px; }
    .about .about-us .about-us-inner {
      padding: 30px 60px;
      border: 4px solid #b01820;
      background: rgba(255, 255, 255, 0.81); }
    .about .about-us p {
      color: #444;
      font-size: 1em;
      line-height: 170%; }
  .about .service {
    padding: 30px;
    background: rgba(255, 255, 255, 0.81);
    margin: 20px 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .about .service:hover {
      background: rgba(176, 24, 32, 0.85); }
      .about .service:hover span.icon {
        color: #fff; }
      .about .service:hover h4 {
        color: white; }
    .about .service span.icon {
      font-size: 1.5em; }
    .about .service h4 {
      color: #000;
      font-weight: bold; }

footer {
  margin: 0;
  background: #111;
  color: white;
  padding: 10px;
  height: 40px; }

.newsletter {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 30px 0; }

.submitNewsletter {
  padding: 11px 20px;
  margin: 30px 0;
  background: #b01820;
  color: white;
  border: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .submitNewsletter:hover {
    background: #960e15; }

/*# sourceMappingURL=style.css.map */
